.grid {
    flex: 1;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(202, 202, 202);
}

.row {
    display: flex;
    flex: 1;
    flex-direction: row;
}

#container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    border-color: rgb(87, 87, 87);
    box-shadow: 20px 20px rgb(226, 226, 226);
}  